.header a{
    margin-right: 10px;
    text-decoration: none;
    padding: 10px;
    border: 1px solid rebeccapurple;

    /* background-color: aquamarine; */
    
}
.header a:hover{
    background-color: rgb(0, 79, 139);
}
.header{
    margin-top: 20px;
}
.active{
    background-color: coral;
}